fastapi
uvicorn[standard]
requests
numpy
pandas
matplotlib
scipy
scikit-learn
jupyterlab
torchvision
torchaudio
tokenizers
graphrag
pymupdf
transformers
datasets
accelerate
peft
flask
flask_cors
langchain
gensim
ollama
sentence-transformers
bitsandbytes
deepspeed
openai==1.50.2
tiktoken
lancedb
langchain
networkx 